# Programa de Ciencia de Datos, Aprendizaje Automático
# Trabajo 1

**Tarea #1**


Estudiantes:

   - *Ricardo Montero Wille*

   - *Esteban Pérez Navarro*

**Pregunta #1:**

Crear un ambiente de trabajo (.ipynb) basado en PYTHON3 y llamarle Tarea-1.ipynb, además debe contener
las librerías: numpy, matplotlib, scikit-learn, pandas, jupyter notebook como mínimo, puede agre-
gar las que considere necesario. 

El objetivo de esta Tarea 1 consiste en normalizar y estandarizar el set de datos de daily-min-temperatures.csv de forma manual y automática a partir de scikit-learn o la librería que considere apropiada.

In [1]:
import numpy as np
import matplotlib as plt
import sklearn
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import statistics
pd.options.mode.chained_assignment = None  # default='warn'

Lo primero que hacemos es importar las librerías a utilizar. 
Las librerías que utilizaremos son: Numpy, Matplotlib, Scikit-Learn, Pandas y Statistics. (Utilizamos el chained_assignment para evitar un warning que pandas envía)

In [2]:
archivo = "daily-min-temperatures.txt"
df_manual_nrm = pd.read_csv(archivo) 
df_manual_std = pd.read_csv(archivo) 
df_automatico = pd.read_csv(archivo) 
df_top = df_automatico.head() 
df_top

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

Leemos el archivo "Daily Min Temperatures"  y lo cargamos en 3 variables diferentes; una para la normalización manual, otra para la estandarización manual y una para las automáticas.

In [3]:
standardizer = StandardScaler()
temp_automatico_std = standardizer.fit_transform(df_automatico[['Temp']])

normalizer = MinMaxScaler()
temp_automatico_nrm = normalizer.fit_transform(df_automatico[['Temp']])

Se utilizan las fórmulas que realizan el proceso de manera automática, que son StandardScaler() y MinMaxScaler(), las cuales son para estandarizar y para normalizar respectivamente.

In [4]:
x = statistics.mean(df_manual_std['Temp'])

y = statistics.stdev(df_manual_std['Temp'])

maximo = df_manual_nrm['Temp'].max()

minimo = df_manual_nrm['Temp'].min()

temp_manual_std = df_manual_std['Temp']
temp_manual_nrm = df_manual_nrm['Temp']

Utilizamos las fórmulas para sacar la media y la deviación estándar de la columna que necesitábamos ('Temp') y también para sacar el número máximo y el mínimo.

Después asignamos una variable temporal para la columna temp para cada uno de los métodos que vamos a aplicar.

In [5]:
for i in range(temp_manual_std.size):
    temp_manual_std[i] = (temp_manual_std[i]-x)/y



for i in range(temp_manual_nrm.size):
    temp_manual_nrm[i] = (temp_manual_nrm[i]-minimo)/(maximo-minimo)

Ahora se aplican las fórmulas de normalización y estandarización utilizando un for para cada una.

La fórmula de normalización es la siguiente:

$X=\frac{X-X_{min}}{X_{max}-X_{min}} $

La fórmula de estandarización es la siguiente:

$X=\frac{X-\mu}{\sigma} $

In [ ]:
Imprimimos las estandarizaciones manual y automática respectivamente:

In [7]:
print (temp_automatico_std)
print (df_manual_std)

[[2.33888328]
 [1.65113873]
 [1.87219948]
 ...
 [0.5703973 ]
 [1.11076801]
 [0.44758577]]
            Date      Temp
0     1981-01-01  2.338563
1     1981-01-02  1.650913
2     1981-01-03  1.871943
3     1981-01-04  0.840467
4     1981-01-05  1.135175
...          ...       ...
3645  1990-12-27  0.693114
3646  1990-12-28  0.594878
3647  1990-12-29  0.570319
3648  1990-12-30  1.110616
3649  1990-12-31  0.447524

[3650 rows x 2 columns]

Imprimimos las normalizaciones manual y automática respectivamente:

In [8]:
print (temp_automatico_nrm)
print (df_manual_nrm)

[[0.78707224]
 [0.68060837]
 [0.7148289 ]
 ...
 [0.51330798]
 [0.59695817]
 [0.49429658]]
            Date      Temp
0     1981-01-01  0.787072
1     1981-01-02  0.680608
2     1981-01-03  0.714829
3     1981-01-04  0.555133
4     1981-01-05  0.600760
...          ...       ...
3645  1990-12-27  0.532319
3646  1990-12-28  0.517110
3647  1990-12-29  0.513308
3648  1990-12-30  0.596958
3649  1990-12-31  0.494297

[3650 rows x 2 columns]